<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.musk.functions.message.dao.SystemMessageSendRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.musk.functions.message.model.entity.SystemMessageSendRecordDO">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="domain_id" property="domainId"/>
        <result column="message_id" property="messageId"/>
        <result column="target_type" property="targetType"/>
        <result column="target_id" property="targetId"/>
        <result column="send_time" property="sendTime"/>
        <result column="send_status" property="sendStatus"/>
        <result column="error_message" property="errorMessage"/>
        <result column="retry_count" property="retryCount"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, domain_id, message_id, target_type, target_id, send_time, send_status, error_message, retry_count,
        creator, create_time, updater, update_time, deleted
    </sql>

</mapper>
